{% include 'include.twig' %}
<title>Regional leaderboards</title>

<h1 class="center-align">Regional Leaderboards</h1>
<div class="center-align">
    {% for country in countries %}
        <a class="waves-effect waves-light btn" href="/leaderboards/{{ country }}">{{ country }}</a>
    {% endfor %}
</div>